<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/6.2/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>


    <testsuites>
        <testsuite>
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="test-reports/coverage.xml"/>
        <log type="coverage-html" target="test-reports/"/>
        <log type="junit" target="test-reports/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>